footer.arcade-footer
  div.footer-inner
    div.footer-brand
      img.footer-logo(src=.LogoPath, alt=.Studio, width="56", height="48")
    div.footer-bottom
      p &copy; #{.Studio} &mdash; Brothers make games
