nav#navbar.arcade-nav
  div.nav-inner
    a.nav-logo-link(href="/")
      img.nav-logo(src=.LogoPath, alt=.Studio, width="40", height="34")
      span.nav-brand #{.Studio}
    button#nav-toggle.nav-toggle-btn(aria-label="Toggle menu")
      span
      span
      span
    ul.nav-links
      li: a(href="/") Home
      li: a(href="/play") Play
      li: a(href="/devlog") Devlog
      li: a(href="/awards") Awards
      li: a(href="/contact") Contact
    button#crt-toggle.nav-crt-btn(title="Toggle CRT scanlines") CRT
