div#konami-overlay.konami-overlay(aria-hidden="true")
  div.konami-content
    h2.konami-title Secret Found!
    p You discovered the Konami Code easter egg!
    p.konami-sub The bros salute you.
    button#konami-close.arcade-btn Close

div#crt-overlay.crt-overlay(aria-hidden="true")
