doctype html
html(lang="en")
  head
    include templates/_partials/_head.jade
  body
    include templates/_partials/_nav.jade
    main
      section.error-page
        div.error-content
          h1.error-code 404
          h2.error-subtitle GAME OVER
          p.error-text This level hasn't been unlocked yet. Maybe you need a power-up?
          div.error-pixels
            span.pixel-block
            span.pixel-block
            span.pixel-block
            span.pixel-block
            span.pixel-block
          a.arcade-btn.arcade-btn-cyan(href="/") ▶ Continue
    include templates/_partials/_footer.jade
    include templates/_partials/_overlays.jade
    script(src=.DistJS)
