doctype html
html(lang="en")
  head
    include templates/_partials/_head.jade
  body
    include templates/_partials/_nav.jade
    main
      section.devlog-page
        header.section-header
          p.section-eyebrow Development
          h1 Devlog
          p.section-subtitle Behind the scenes of PixaBros game development
        if .DevlogPosts
          div.devlog-list
            each post in .DevlogPosts
              article.devlog-card
                a(href=.URL)
                  h2.devlog-card-title #{.Title}
                time.devlog-card-date(datetime=.RawDate) #{.FormattedDate}
                p.devlog-card-excerpt #{.Excerpt}
                a.arcade-btn-small(href=.URL) Read More
        else
          div.empty-state
            p No devlog posts yet. Check back soon!
            p.empty-icon 📝
    include templates/_partials/_footer.jade
    include templates/_partials/_overlays.jade
    script(src=.DistJS)
