doctype html
html(lang="en")
  head
    include templates/_partials/_head.jade
  body
    include templates/_partials/_nav.jade
    main
      article.devlog-article
        a.devlog-back(href="/devlog") &larr; Back to Devlog
        if .Post
          header.devlog-header
            h1.pixel-heading #{.Post.Title}
            time.devlog-date(datetime=.Post.RawDate) #{.Post.FormattedDate}
          div.devlog-content #{.Post.Content}
    include templates/_partials/_footer.jade
    include templates/_partials/_overlays.jade
    script(src=.DistJS)
